.speakers-preview-wrapper {
  @include clearfix;
  background-color: #ff005a;
  text-align: center;
  .empty-block {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #ffffff;
    @include bold;
    font-size: rem(55px);
    text-align: center;
    transform: translateY(-50%);
  }
  .speaker-preview {
    @include clearfix;
    height: 500px;
    position: relative;
  }
  .speaker {
    position: relative;
    width: 25%;
    float: left;
    height: 100%;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    // Responsive
    @include mq($until: desktop) {
      width: 50%;
    }
    @include mq($until: tablet) {
      width: 100%;
    }
    &:hover {
      .speaker-card {
        opacity: 1;
      }
    }
  }
}
.blog-card,
.speaker-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff005a;
  opacity: 0;
  text-align: center;
  .info-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .title,
  .job {
    text-transform: uppercase;
    color: rgb(13, 13, 89);
  }
  .title {
    padding: rem(0 10px);
    font-size: rem(30px);
    line-height: 1.3;
    @include bold;
  }
  .job {
    margin-top: rem(15px);
    font-size: rem(13px);
  }
  .description {
    margin-top: rem(30px);
    padding: rem(0 25px);
    font-size: rem(16px);
    color: rgb(13, 13, 89);
  }
}
.speakers-pages {
  margin-top: rem(220px);
  margin-bottom: rem(250px);
  background-color: #fff;
  //Reponsive
  @include mq($until: desktop) {
    margin-top: rem(85px);
  }
  .speaker {
    height: 400px;
  }
}
