.event-post-container {
  padding-top: rem(210px);
  .content-wrapper {
    margin-bottom: rem(60px);
  }
  .date-wrapper {
    .time,
    .place {
      font-size: rem(25px);
      @include bold;

      color: rgb(13, 13, 89);
      .question {
        font-size: rem(45px);
        @include bold;
        margin-right: rem(15px);
        color: #52ffff;
      }
    }
    .time {
      margin-bottom: rem(25px);
    }
  }
  .date-wrapper,
  .speaker {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
  .speaker {
    text-align: center;
    img {
      width: 250px;
      border-radius: 50%;
    }
    .speaker-name {
      margin: rem(15px 0 10px 0);
      color: rgb(13, 13, 89);
      @include bold;
    }
    .speaker-job {
      @include thin;
    }
  }
}

.events-preview {
  padding: rem(215px 60px 220px 60px);
  .events-wrapper {
    border-bottom: 1px dashed rgb(13, 13, 89);
    .event-date,
    .event {
      display: inline-block;
      vertical-align: middle;
    }
    .event-date {
      width: 160px;
      @include bold;
      color: rgb(13, 13, 89);
    }
    .event {
      padding: rem(30px 40px 30px 40px);
      .title {
        margin-bottom: rem(15px);
        color: rgb(13, 13, 89);
        @include bold;
        font-size: rem(18px);
      }
      .button {
        margin-top: rem(15px);
        border-color: rgb(13, 13, 89);
        color: rgb(13, 13, 89);
      }
    }
  }
}
