.events-preview-wrapper {
  padding: rem(150px 0 100px 0);
  text-align: center;
  background-color: #0d0d59;
  .indexes {
    .number,
    .title {
      color: #52ffff;
    }
  }
  .alice-carousel__prev-btn,
  .alice-carousel__next-btn {
    display: inline-block;
    width: initial;
    span {
      &:after {
        position: relative;
        z-index: 5;
        content: '';
        border-bottom: 3px solid;
        border-left: 3px solid;
        width: 20px;
        height: 20px;
        border-color: #52ffff;
        position: absolute;
        top: 50%;
      }
    }
  }
  .alice-carousel__prev-btn {
    span {
      &:after {
        transform: rotate(45deg);
        left: rem(10px);
      }
    }
  }
  .alice-carousel__next-btn {
    span {
      &:after {
        transform: rotate(-135deg);
        right: rem(10px);
      }
    }
  }
  .event {
    display: inline-block;
    width: 90%;
    margin: rem(0 auto);
    padding: rem(50px 0);
    div {
      color: #52ffff;
    }
    .date {
      margin-bottom: rem(15px);
      font-size: rem(40px);
    }
    .time-wrapper,
    .event-details {
      display: inline-block;
      vertical-align: middle;
    }
    .time-wrapper {
      .time {
        font-size: rem(55px);
      }
    }
    .event-details {
      margin-left: rem(15px);
      text-align: left;
      > div {
        font-size: rem(16px);
      }
    }
  }
}
