.events-preview-wrapper {
  padding: rem(150px 0 100px 0);
  text-align: center;
  background-color: #0d0d59;
  .indexes {
    .number,
    .title {
      color: #52ffff;
    }
  }

  .agenda-btn {
    margin-top: rem(60px);
    color: #52ffff;
    border-color: #52ffff;
  }
}
