.masthead-wrapper {
  .title {
    margin-top: rem(205px);
    text-transform: uppercase;
    font-size: rem(125px);
    color: #52ffff;
    @include bold;
    text-align: center;
  }
  .masthead {
    display: table;
    margin: 0 auto;
  }
  .date {
    margin-top: rem(140px);
    font-size: rem(21px);
  }
  .buy-ticket {
    margin-top: rem(35px);
    margin-bottom: rem(135px);
    border-color: #52ffff;
    color: #52ffff;
  }
}
.button {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  border: 3px solid;
  padding: rem(13px 30px 14px 30px);
  cursor: pointer;
  text-decoration: none;
  @include bold;
  font-size: rem(15px);
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    transition: all, 0.1s ease-in;
  }
  &:hover {
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &.blogs-button {
    @include clearfix;
    margin-top: rem(30px);
    border-color: rgb(13, 13, 89);
    color: rgb(13, 13, 89);
  }
}
