.navbar {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  .nav-list {
    padding: rem(95px);
    text-align: center;
    li,
    a {
      display: inline-block;
      font-size: rem(18px);
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-in;
      color: #ffffff;
      &:hover {
        color: #52ffff;
      }
    }
    li {
      margin: rem(0 35px);
      padding: rem(5px);
    }
    a {
      color: #000000;
    }
  }
}
